.ehrTextbox {
    display: flex;
    flex-direction: column;
    width: 70%; 
  }
  
  .ehrTextboxLabel {
    color: var(--Color-Blue-Blue-800, #325B9B);
    font-family: Montserrat, sans-serif;
    font-size: 0.95rem; 
    font-weight: 600;
    line-height: 100%;
    margin-bottom: 5px;
  }
  
  .ehrTextboxContent {
    padding: 0.7em 1em; 
    border: 1px solid var(--Color-Blue-Blue-500, #559DDC);
    border-radius: 5px;
    background: var(--Color-Blue-Blue-100, #E0EFF9);
    width: 100%;
    font-size: 0.95rem; 
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    line-height: 1;
    color: var(--Color-Blue-Blue-500, #559DDC);
  }
    
  .ehrTextbox2 {
    display: flex;
    align-items: flex-start;
    width: 100%; 
    height: 2.3rem;
  }
  
  .ehrTextboxLabel2 {
    color: var(--Color-Blue-Blue-800, #325B9B);
    font-family: Montserrat, sans-serif;
    font-size: 0.95rem;
    font-weight: 600;
    margin-right: 7.5px;
  
  }
    
  .ehrTextbox3 {
    display: flex;
    flex-direction: column;
    width: 100%; 
    height: 2.94rem;
  }
  
  .ehrTextboxLabel3 {
    color: var(--Color-Blue-Blue-800, #325B9B);
    font-family: Montserrat, sans-serif;
    font-size: 0.5rem;
    font-weight: 600;
    line-height: 1.2;
    text-align: left; 
  }

  .ehrTextboxContent3 {
    padding: 0.7em 1em;
    border: 1px solid var(--Color-Blue-Blue-500, #559DDC);
    border-radius: 5px;
    background: var(--Color-Blue-Blue-100, #E0EFF9);
    width: 70%; 
    font-size: 0.9rem; 
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    line-height: 0.9;
    color: var(--Color-Blue-Blue-500, #559DDC);
    min-width: 50%;
  }
  
  .ehrTextbox4 {
    display: flex;
    flex-direction: column;
    width: 100%;

  }
  
  .ehrTextboxLabel4 {
    color: var(--Color-Blue-Blue-800, #325B9B);
    font-family: Montserrat, sans-serif;
    font-size: 0.8rem; 
    font-weight: 600;
    line-height: 1;
    text-align: left; 

  }

  .ehrTextboxContent4 {
    padding: 0.5em;
    border: 1px solid var(--Color-Blue-Blue-500, #559DDC);
    border-radius: 5px;
    background: var(--Color-Blue-Blue-100, #E0EFF9);
    width: 90%; 
    font-size: 0.65rem; 
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    line-height: 1.5rem;
    color: var(--Color-Blue-Blue-500, #559DDC);
  }

  .ehrTextbox5 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto; 
    margin-top: 1.25rem;
    margin-left: 1.875rem;
  }
  
  .ehrTextboxLabel5 {
    color: var(--Color-Blue-Blue-800, #325B9B);
    font-family: Montserrat, sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.5;
    margin-top: 20px;
  }
  
  .ehrTextarea5 {
    width: 24rem;
    height: 10rem;
    border: 1px solid var(--Color-Blue-Blue-500, #559DDC);
    color: var(--Color-Blue-Blue-800, #325B9B);
    border-radius: 5px;
    background: var(--Color-Blue-Blue-100, #E0EFF9);
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    padding: 0.625rem; 
    resize: none; 
  }

  .ehrTextbox6 {
    display: flex;
    flex-direction: column;
    width: 86%;
  }

  .ehrTextboxWrapper {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .ehrTextboxContent6 {
    padding: 0.7em 1em;
    border: 1px solid var(--Color-Blue-Blue-500, #559DDC);
    border-radius: 5px;
    background: var(--Color-Blue-Blue-100, #E0EFF9);
    width: 100%;
    font-size: 0.95rem;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    color: var(--Color-Blue-Blue-500, #559DDC);
  }

  /* Remove built-in icons from browsers */
  /* Chrome, Safari */
  .ehrTextboxContent6::-webkit-calendar-picker-indicator {
    display: none;  
    -webkit-appearance: none;
  }
  /* Firefox */
  .ehrTextboxContent6[type="date"]::-moz-focus-inner {
    border: 0;
  }
  .calendarIcon {
    position: absolute;
    right: 0.7rem;
    color: #1f6bb5;
    cursor: pointer;
    pointer-events: auto;
  }

  @media (max-width: 1440px) {
    .ehrTextbox5 {
      width: 90%;
      margin-left: 0;
      margin-right: 0;
      padding: 0 1rem; 
    }
    .ehrTextbox6 {
      width: 81%;
    }
  }
  
  @media (max-width: 1024px) {
    .ehrTextbox5 {
      width: 90%;
      margin-left: 0;
      margin-right: 0;
      padding: 0 1rem; 
    }
    .ehrTextbox6 {
      width: 77%;
      padding-left: 2rem;
    }
    
    .ehrTextarea5 {
      width: 100%;
      font-size: 0.875rem; 
      height: 100%;
    }
  }
  
  @media (max-width: 768px) {
    .ehrTextbox5 {
      width: 90%;
      margin-left: 0;
      margin-right: 0;
      padding: 0 0.8rem; 
    }
    
    .ehrTextarea5 {
      width: 100%;
      font-size: 0.8rem; 
      height: 100%;
    }

    .ehrTextbox6 {
      width: 80%;
    }
  }
  
  @media (max-width: 480px) {
    .ehrTextbox5 {
      width: 80%;
      margin-left: 0;
      margin-right: 0;
      padding: 0 0.8rem; 
    }
    .ehrTextboxLabel5 {
      font-size: 1rem; 
    }
    
    .ehrTextarea5 {
      font-size: 0.75rem; 
      padding: 0.5rem;
      height: 100%;
    }
  }

  @media (max-width: 390px) {
    .ehrTextbox {
      width: 50%; 
      margin: -5px;
    }

    .ehrTextbox6{
      width: 57.5%;
      margin-left: -0.6rem;
    }
  
    .ehrTextboxLabel, .ehrTextboxLabel2 {
      font-size: 0.65rem; 
    }
  
    .ehrTextboxContent, .ehrTextboxContent3, .ehrTextboxContent4, .ehrTextboxContent6 {
      padding: 0.6em 0.8em; 
      font-size: 0.65rem; 
      
    }
    .ehrTextbox2{
      width: 50%; 
      margin-left: 0.5rem;

      
    }
    .ehrTextbox3{
      width: 70%;
    }
    .ehrTextboxLabel3{
      font-size: 0.45rem; 
    }
    .ehrTextbox4{
      width: 40%;
    }
    .ehrTextbox5 {
      width: 60%;
      height: auto; 
    }
    .ehrTextboxLabel5 {
      font-size: 1.25rem;
      
    }
    .ehrTextarea5 {
      height: 100%;
    }


  }